.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active1 {
  background-color: navy;
}

.racer_table td.active2 {
  background-color: maroon;
}

td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

td:nth-child(30) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 3px solid gray;
  background-color: lightgray;
}
